body {
    background-color: #F4F3EE;
    margin: 20%;
    width: 35%;
    min-width: 470px;
    height: 60%;
    font-family: IBM Plex Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

#flexiana {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    height: 97.47px;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
  }
  
h1 {
    font-family: "Archivo Black";
    margin: 2px;
}

.sub {

    font-size: 14px;
    padding-left: 5px;
}

ul {
    list-style: circle;
}

img {
    width: 97.47px;
    border-radius: 5px;
    display: block;
    flex-basis: auto;
    align-self: auto;
}

a {
    color: rgb(0, 48, 0);
}

@media print, screen and (max-width: 960px){
    div.wrapper{
        width:auto;
        margin:0
    }
    header,section,footer{
        float:none;
        position:static;
        width:auto
    }
    header{
        padding-right:320px
    }
    section{
        border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:20px 0;
        margin:0 0 20px
    }
    header a small{
        display:inline
    }
    header ul{
        position:absolute;
        right:50px;
        top:52px
    }
}
@media print, screen and (max-width: 720px){
    body{
        word-wrap:break-word
    }
    header{
        padding:0
    }
    header ul,header p.view{
        position:static
    }
    pre,code{
        word-wrap:normal
    }
}
@media print, screen and (max-width: 480px){
    body{
        padding:15px
    }
    .downloads{
        width:99%
    }
    .downloads li,.downloads li+li+li{
        width:33%
    }
}
@media print{
    body{
        padding:0.4in;
        font-size:12pt;
        color:#444
    }
}