body {
    background-color: #F4F3EE;

}

.box {
    margin: auto;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
  }
  
h1 {
    font-family: "Archivo Black";
    margin-bottom: 2px;
}

.sub {
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 2px;
}