* {
    box-sizing: border-box;
}

:root {
    --green: rgb(3, 73, 3);
    --white: #F4F3EE;
    font-size: 12pt;
}

body, html {
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

body {
    background-color: var(--white);
    height: 100%;
    font-family: IBM Plex Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    display: flex;
    place-content: center;
}

#container {
    /* border: 2px red solid; */
    margin: 10%;
    max-width: 70ch;
    width: 70ch;
    text-align: justify;
}

.text-container {
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}

nav a {
    background-color: black;
    border: 1pt black solid;
    padding: 2px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

nav .active {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #F4F3EE;
}

nav .active:hover {
    color: var(--white);
    background-color: var(--green);
}

#flexiana {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    /* text-align: center; */
    gap: 5px;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
  }
  
h1 {
    font-family: "Archivo Black";
    font-size: max(2.66vw, 20pt);
    margin: 2px;
}

.sub {
    font-size: 14px;
    padding-left: 5px;
}

ul {
    list-style: circle;
}

img {
    width: 97.47px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: block;
    flex-basis: auto;
    align-self: auto;
}

a {
    color: var(--white);
    background-color: var(--green);
    border: 1pt var(--green) solid;
    border-radius: 3px;
    padding: 2px;
    text-decoration: double;
}

a:hover {
    background-color: var(--white);
    color: var(--green);
}

@media screen and (max-width: 400px) {
    nav {
        justify-content: space-between;
    }
}
